section {
    border-radius: 10px;
    width: 550px;
    height: -20px;
    margin: auto;
    background-color: rgb(201, 200, 200);
    
    
}
h1 {
color: rgb(0, 0, 0);
margin-left: 150px;
margin-top: 120px;
}

.celda {
width: 100px;
height: 100px;
text-align: center;

font-size: 43px;
border: 2px solid;
color: rgb(0, 0, 0);
background-color: white;
}

.cellcontainer {
 display: grid;
 grid-template-columns: repeat(3, auto);
width: 225px;
margin-left: 53px;
}

#btn {
color: blue;
margin-left: 70px;
}

#turno {
    margin-left: 400px;
}

#simbolo {
    margin-left: 400px;
}